**/.idea
**/typings/**
**/node_modules
**/jspm_packages
**/link-checker-results.txt
**/*npm-debug.log.*
**/*.js
**/*.js.map
**/e2e/**/*.js
**/e2e/**/*.js.map
**/_test-output
**/_temp

!karma*.js
!protractor*.js
!systemjs.config.js
!typings/typings.d.ts
!wallaby.js


# Compiled output
**/dist
**/tmp
**/out-tsc
**/bazel-out

**/npm-debug.log
**/yarn-error.log

# IDEs and editors
**/.idea/
**/.project
**/.classpath
**/.c9/
*.launch
**/.settings/
*.sublime-workspace

# Visual Studio Code
**/.vscode/*
**/!.vscode/settings.json
**/!.vscode/tasks.json
**/!.vscode/launch.json
**/!.vscode/extensions.json
**/.history/*

# Miscellaneous
**/.angular/cache
**/.sass-cache/
**/connect.lock
**/coverage
**/libpeerconnection.log
**/testem.log
**/typings

# System files
**/.DS_Store
**/Thumbs.db